#commodity-container {
  &:hover {
    // background-color: rgba(0, 0, 0, 0.125);
    border-color: #000;
    cursor: pointer;
  }
  &:active {
    border-color: #fff;
  }

  & > div {
    #commodity-title {
      font-size: 1.5rem;
    }
    #commodity-price {
      font-size: 1.3rem;
    }
  }
}
